/* declare a css variable to store the font family  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --primary-font-family: 'DM Sans', sans-serif;
    --primary-color: #6d9d75;
}

h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5, p{
    font-family: var(--primary-font-family) !important;
}

.hero-font{
    font-size: 68px;
    font-weight: 700;
    color: black;
}

.btn-shape{
    font-weight: 500;
    font-size: 22px;
    padding: 15px 36px;
    border-radius: 14px;
    text-decoration: none;
    border: none;
}

.button--primary{
    background-color: #000000;
    color: #ffffff;
   
}

.button--primary::after{
    content: "";
    border: none;
      --alpha-button-background: 0;
}

.button--primary:hover{
    
    border:none;
    --alpha-button-background: 0;
}

.title{
    font-size: 42px;
    font-weight: 600;
    color: black;
} 

.section-title{
    font-size: 42px;
    font-weight: 600;
    color: black;
   
}

.section-margin{
    margin-top: 80px;
    margin-bottom: 80px;
}

.card__media{
    border-radius: 8px;
}   

.section-margin{
    margin-top: 80px;
    margin-bottom: 80px;
}

.circle-divider{
    color: var(--primary-color);
}
